<ul class="drop-down-menu" id="global-nav-menu">
    <li id="global-nav-user" class="global-nav-menu-item" data-global-nav-user="base">
  <a class="drop-down" href="#" id="global-nav-screen-name">
  </a>

  <ul id="cpa-settings-list" class="dropped-down-list">
    <li>
      <a href="http://challengepost.com/users/katzmopolitan">
        Portfolio <em class="user-new-item">new</em>
</a>    </li>

      <li>
        <a href="http://manage.challengepost.com/dashboard">Manage challenges</a>
      </li>

    <li id="global-nav-user-settings">
      <a href="http://challengepost.com/settings">Settings</a>
    </li>

    <li id="global-nav-user-log-out" data-global-nav-user="log-out">
      <a href="http://secure.challengepost.com/users/logout">Log out</a>
    </li>

      <li id="global-nav-start-admin">
        <a href="https://secure.challengepost.com/modes/admin/enable" data-method="put" rel="nofollow">Start admin</a>
      </li>
  </ul>
</li>

</ul>
